# SPDX-License-Identifier: GPL-2.0-only
#
# TKernel configuration
#
menuconfig TKERNEL
	bool "Tencent Kernel Features"
	default y

if TKERNEL

config TKERNEL_NONPRIV_NETBIND
	bool "Allow non-privileged user to bind specific low ports"
	default n

config TKERNEL_TTOOLS
	tristate "Tencent Kernel TTools"
	default n

config TKERNEL_NETATOP
	tristate 'Netatop support'
	default n
	depends on NETFILTER
	help
		Netatop module from TKernel

config TKERNEL_SHIELD_MOUNTS
	bool 'Shield mount'
	default n

config TKERNEL_SECURITY_MONITOR
	bool "security monitor"
	default y
	help
		Allow user to add security monitor

config TKERNEL_AEGIS_MODULE
	tristate "ONION aegis module"
	default m
	help
		ONION aegis module

endif
